@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;500&family=Kreon:wght@300;400;500&display=swap');

body {
    background-color:beige; 
    padding:3%;
}

#tema-osc {
    border-radius: 6px;
    border: 1px solid;
    background-color: #402C25;
    color: beige;
    font-family: Akshar serif;
}
/* header */
header{
    background-image: url(../img/header-5.png);
    background-size:cover;
    background-position:top;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 30vh;    
}

.logo {
    width: 12vw;
    border-radius:200%;
}
.rrss-header {
    width: 25vw;
    text-align: center;
}
.icono-rrss-h {
    width: 4vw;
    padding-left: 2%;
    padding-right: 2%;    
}

#tit-page { 
    color: beige;
    text-shadow:-2px -2px 0 black,
    1px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
    font-size: 8vmin;
    font-family: Akshar;
    text-align: center;
    font-weight: bolder;
    margin-right: 4%;
    margin-left: 4%;
}

/* barra de navegacion */
#nav-receta { 
    padding-top: 1.5%;
    padding-bottom:1.5%;;
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#latam {
    width: 6%;
    height: 6%;
    padding-left: 4%;
    padding-right: 4%;
    display: none;
}
.recetas {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    color: brown;
    font-family: Kreon, serif;
    font-size: 150%;
}
.recetas:hover {
    background-color: brown;
    color: beige;
}

#nav-contacto {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    color: black;
    font-family: Kreon, serif;
    font-size: 155%;
}
#nav-contacto:hover {
    background-color: black;
    color: beige;
}

/* seccion principal */ 
#tit-ppal {
    height: 10%;
    width: 100%;
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#tit-receta  { 
    color:beige; 
    font-family: Akshar, sans-serif;
    font-style: oblique;
    text-align: center;
    font-size: 200%;
}
#bandera-py {
    width: 3.5vmax;
    height: 7.5vmin;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}
.texto-principal { 
    color:rgb(226, 50, 50); 
    font-size:120%; 
    font-family: kreon, serif;
}
.centrar{
    margin:auto;
    display:block;
}
#img-vid {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
img.mediana { 
    width: 38vmax;
    height: 50vmin;
    float: left;
    margin-right: 2%;
    margin-left: 2%;
    border-style: solid;
    border-color: rgb(97, 58, 58); 
    display: flex;
}
.video { 
    width: 38vmax;
    height: 50vmin;
    padding-left: 3%;
    margin-right: 2%;
    margin-left: 2%;
    display: flex;
}

/* receta */
h2 { color:brown; 
    font-family: Akshar, sans-serif;
    font-size: 150%;

}
h3 { 
    color:brown; 
    font-family: Akshar, sans-serif;
    text-decoration-line: underline;
    font-size: 140%;
}

.lista-desord { 
    color:rgb(97, 58, 58); 
    font-size:120%; 
    font-family: kreon, serif;
    list-style:circle;
}
.lista-ord { 
    color:rgb(97, 58, 58); 
    font-size:120%; 
    font-family: kreon, serif;
    text-align: justify;
    list-style:decimal;
}

/* aside */
h4 { color:rgb(226, 50, 50); 
    font-size: 120%; 
    font-family: kreon, serif;
}
.enlace { 
    color:rgb(226, 50, 50); 
    font-size:110%; 
    font-family: kreon, serif;
}

.enlace:hover {
    color:rgb(194, 45, 45);
    font-style: italic;
}

#mapa {
    width: 40vw; 
    height: 50vh;
    margin-right: 8%;
    margin-left: 2%;
    border-radius: 1%;
}

/* contenedor con recetas */
.container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-lg3 {
    width: 15rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.card-img-top {
    width: 15vw;
	height: 20vh;
	object-fit:cover;
    border-radius: 10%;
}

.card-title {
    color: rgb(194, 45, 45);
    font-family:Akshar, sans-serif;
    font-size: x-large;
}

.card-text {
    font-family:Akshar, sans-serif;
}

.btn-secondary {
    font-family:Akshar, sans-serif;
    background-color: rgb(194, 45, 45);
}


/* footer */
footer {
    background-color: brown;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-top: 1.5%;
    height: 50%;
    width: 100%;
    left: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mapa-f {
    height: 16vh;
    margin-top: 1%;
}

.rrss-footer {
    display: flex;
    margin-top: 1%;
    margin-right: 3%;
    margin-left: 6%;
    width: 30%;

}
.icono-rrss {
    width: 33%;
    padding-left: 1%;
    padding-right: 1%;      
}

.texto-f {
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    font-family: Akshar, sans-serif;
    font-size: 4vmin;

    background-color: brown;
    color: black;
    border-radius: 2%;
}


#wapp {
    width: 3%;
    position: fixed;
    bottom: 4%;
    right: 4%;
    
}

/* page contact */

.icono-rrss-cont {
    width: 4%;
    padding-left: 1%;
    padding-right: 1%;    
}

.texto-contact {
    display: inline-block;
    color:rgb(97, 58, 58); 
    font-size:120%; 
    font-family: kreon, serif;
}

/* media queries */

@media (max-width: 575px){
    body {
        background-color:rgba(235, 195, 85, 0.932);
    }
    #tit-page{
        color: rgba(235, 195, 85, 0.932);
    } 
    #tit-receta {
        color: rgba(235, 195, 85, 0.932);
    }
    .recetas:hover {
        color: rgba(235, 195, 85, 0.932);
    }
    #nav-contacto:hover {
        color: rgba(235, 195, 85, 0.932);
    }
    #latam {
        display: inline;
    }
}


@media (min-width: 768px){
    #latam {
        display: none;
    }
}
@media (max-width: 768px) {
    header{
        background-image: url(../img/header-4.jpg);
    }
}

@media (min-width: 1200px) {
    #bandera-py{
        display: none;
    }

}
