@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;500&family=Kreon:wght@300;400;500&display=swap');

body {
    background-color:beige; 
    padding:3%;
}

header{
    background-image: url(../img/header-5.png);
    background-size:cover;
    background-position:top;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    
}

.logo {
    width: 12vw;
    border-radius:200%;
    margin-right: 2%;
}
.rrss-header {
    width: 25vw;
}
.icono-rrss-h {
    width: 15%;
    padding-left: 2%;
    padding-right: 2%;    
}

#tit-page { 
    color: beige;
    text-shadow:-2px -2px 0 black,
    1px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
    font-size: 350%;
    font-family: Akshar;
    text-align: center;
    font-weight: bolder;
    margin-right: 4%;
    margin-left: 4%;
}

#nav-receta { 
    padding-top: 1.5%;
    height: 50%;
    width: 100%;
    text-align: center;
}
.recetas {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    color: brown;
    font-family: Kreon, serif;
    font-size: 150%;
}
.recetas:hover {
    background-color: brown;
    color: beige;
}

#nav-contacto {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    color: black;
    font-family: Kreon, serif;
    font-size: 155%;
}
#nav-contacto:hover {
    background-color: black;
    color: beige;
}

#tit-receta  { 
    background-color: brown; 
    color:beige; 
    font-family: Akshar, sans-serif;
    font-style: oblique;
    text-align: center;
    font-size: 200%;
}
.texto-principal { 
    color:rgb(226, 50, 50); 
    font-size:120%; 
    font-family: kreon, serif;
}
.centrar{
    margin:auto;
    display:block;
}
img.mediana { 
    width: 38vw;
    height: 50vh;
    display:block;
    float: left;
    margin-right: 2%;
    margin-left: 2%;
    border-style: solid;
    border-color: rgb(97, 58, 58);
}

.video { 
    width: 38vw;
    height: 50vh;
    display:block;
    padding-left: 3%;
    margin-right: 2%;
    margin-left: 2%;
}
h2 { color:brown; 
    font-family: Akshar, sans-serif;
    font-size: 150%;

}
h3 { 
    color:brown; 
    font-family: Akshar, sans-serif;
    text-decoration-line: underline;
    font-size: 140%;
}

.lista-desord { 
    color:rgb(97, 58, 58); 
    font-size:120%; 
    font-family: kreon, serif;
    list-style:circle;
}
.lista-ord { 
    color:rgb(97, 58, 58); 
    font-size:120%; 
    font-family: kreon, serif;
    text-align: justify;
    list-style:decimal;
}
h4 { color:rgb(226, 50, 50); 
    font-size: 120%; 
    font-family: kreon, serif;
}
.enlace { 
    color:rgb(226, 50, 50); 
    font-size:110%; 
    font-family: kreon, serif;
}

.enlace:hover {
    color:rgb(194, 45, 45);
    font-style: italic;
}

#mapa {
    width: 40vw; 
    height: 50vh;
    margin-right: 8%;
    margin-left: 2%;
    border-radius: 1%;
}

footer {
    background-color: brown;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-top: 1.5%;
    height: 50%;
    width: 100%;
    left: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mapa-f {
    width: 22vw; 
    height: 16vh;
    margin-right: 3%;
}

.rrss-footer {
    display: flex;
    margin-right: 3%;
    margin-left: 6%;
    width: 25vw;

}
.icono-rrss {
    width: 33%;
    padding-left: 1%;
    padding-right: 1%;      
}

.texto-f {
    margin-left: 3%;
    margin-right: 3%;
    font-family: Akshar, sans-serif;
    font-size: 130%;
}

#wapp {
    width: 3%;
    position: fixed;
    bottom: 4%;
    right: 4%;
    
}

.icono-rrss-cont {
    width: 4%;
    padding-left: 1%;
    padding-right: 1%;    
}

.texto-contact {
    display: inline-block;
    color:rgb(97, 58, 58); 
    font-size:120%; 
    font-family: kreon, serif;
}

